<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>GHOST - Make Data Invisible</title>
</head>
<body>
    <section>
        <div class="logo">GHOST<br> - Make Data Invisible</div>
        <img src="../static/img/lock.png" class="bg" alt="lock and key board image">
        <div class="content">
            <h2>Hide Your<br>Secrets To Share</h2>
            <p>Make your text data Invisible by hiding them in the images or text of your choice.</p>

            <a href=image>Hide Your Text In Image</a>
            <br>
            <a href=text>Hide Your Text In Text</a>
        </div>
        <p class="copyrightText">&copy;2022 GHOST. Made with Love</p>
    </section>
</body>
</html>